.header {
    display: flex;
    flex-direction: column;
    h1 {
        background: linear-gradient(to right, #8a3ffc, white);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: white;
    }
}